* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Roboto';
}

body {
    font-size: 1.6rem;
}

input, select, button {
    font-family: "Roboto";
    all: unset;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

header{
    min-height: 53.2rem;
    background-color: #F8F8FF;
    overflow: hidden;

    position: relative;
}

header::before {
    content: "";
    background-image: url(/assets/ilustra-01.svg);
    width: 40.7rem;
    height: 34.5rem;

    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

header::after {
    content: "";
    display: block;
    background-image: url(/assets/ilustra-02.svg);
    width: 41.4rem;
    height: 33rem;
    position: absolute;
    bottom: -1.2rem;
    right: 0;
}

header .content {
    width: fit-content;
    margin:  auto;
    padding: 10rem 0;

    position: relative;
    z-index: 1;
}

header .content .top {
    text-align: center;
}

header .content p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #E45858;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

header h1 {
    margin: 1.8rem auto;
    max-width: 64.7rem;

    font-family: 'Roboto';
    font-size: 4.8rem;
    line-height: 125%;

    color: #121214;
}

header .content span {
    color: #6246EA;
}

header .search{
    margin-top: 4rem;
    display: flex;
    padding: 4rem;
    gap: 2.4rem;

    background: #FFFFFF;
    border: 0.1rem solid #EAEAEA;
    border-radius: 1rem;
}

.search-field {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 1.2rem 0.8rem 1.2rem 1.4rem;
    border-radius: 0.5rem;
    background-color: #F4F4FF;
}

input, select {
    color: #7C7C8A;
    min-width: 29rem;
}

.search-field i {
    font-size: 2.4rem;
    color: #E45858;   
}

select, .select {
    position: relative;
}

select {
    z-index: 1;
}

.select i.ph-caret-down {
    position: absolute;
    right: 1rem;
    z-index: 0;
    color: #858793;
}

.sch-field-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #6246EA;
    color: #FFFFFF;
    text-transform: uppercase;

    border-radius: 5px;
    
    padding: 1.2rem 3.2rem;
    gap: 0.8rem;

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;

    cursor: pointer;

    transition: background 200ms;
}

.sch-field-btn:hover{
    background-color: #5540bd;
}

main > .content{
    max-width: 1216px;
    margin: 10rem auto;
}

section.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.top .view {
    display: flex;
    padding: 0.8rem;

    border: 0.1rem solid #EAEAEA;
    border-radius: 0.6rem;
}

.view button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.4rem 2.4rem;
    gap: 0.8rem;
    border-radius: 0.5rem;
    
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
    
    text-transform: uppercase;
    cursor: pointer;
}

.primary {
    background: #6246EA;
    color: #FFFFFF;
}

.secondary {
    color: #6246EA;
}

section.cards {
    margin-top: 4.8rem;
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background: #FFFFFF;
    border: 0.1rem solid #EAEAEA;
    border-radius: 1rem;
    max-width: 38.4rem;
    overflow: hidden;
}

.card .content {
    display: grid;
    gap: 1.6rem;

    padding: 1.6rem;
}

.card .city {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    
    opacity: 0.75;
}

.card h3 {
    color: #121214;
    font-weight: 700;
    font-size: 2rem;
    line-height: 140%;
    }

.card p{
    opacity: 0.75;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 160%;
}

.city i {
    font-size: 2.4rem;
    color: #E45858;
    opacity: 1;  
}


